@font-face {
  font-family: "FactorA";
  src: url("/static/FactorA-Regular.otf");
  }

  body {
    font-family: 'FactorA', Arial, sans-serif;
    font-weight:normal;
    font-style:normal;
    }








.navbar-custom {
    background-color: rgba(255, 255, 255, 0.65); /* set a semi-transparent white background */
    backdrop-filter: blur(10px);
  }
  
  
  .masthead {
    position: relative;
    width: 100%;
    height: auto;
    min-height: 35rem;
    padding: 15rem 0;
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 5%, rgba(0, 0, 0, 0.609) 40%, rgba(0, 0, 0, 0.342) 100%), url("/static/img/bls.png");
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-size: cover;
  }
  .masthead h1, .masthead .h1 {
    font-family: "Varela Round", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    font-size: 2.5rem;
    line-height: 2.5rem;
    letter-spacing: 0.8rem;
    color: rgb(230, 230, 230);
    text-shadow: 1px 1px 35px rgb(0, 0, 0);
    /* background: linear-gradient(rgba(255, 255, 255, 0.9), rgba(255, 255, 255, 0)); */
    /* -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
            background-clip: text; */
  }
  .masthead h2, .masthead .h2 {
    max-width: 20rem;
    font-size: 1rem;
    text-shadow: 1px 1px 10px rgb(0, 0, 0);
  }
  @media (min-width: 768px) {
    .masthead h1, .masthead .h1 {
      font-size: 4rem;
      line-height: 4rem;
    }
  }
  @media (min-width: 992px) {
    .masthead {
      height: 100vh;
      padding: 0;
    }
    .masthead h1, .masthead .h1 {
      font-size: 6.5rem;
      line-height: 6.5rem;
      letter-spacing: 0.8rem;
    }
    .masthead h2, .masthead .h2 {
      max-width: 30rem;
      font-size: 1.25rem;
    }
  }
  
  
  

  .image-wrapper {
    height: 300px; /* set the height of the container */
    width: 200px; /* set the width of the container */
    overflow: hidden; /* hide any overflow from the image */
  }
  
  .imgt {
    height: 100%; /* make the image stretch to the full height of the container */
    width: 100%; /* make the image stretch to the full width of the container */
    object-fit: cover; /* fit the image without changing its aspect ratio */
  }


/* 
  .scrollable {
    overflow-x: auto;
    white-space: nowrap;
  } */


  .btn-success {
    background-color: #37af95;
    color: #fff;
    border: none;
    border-radius: 25px;
    font-size: 18px;
    padding: 5px 30px;
    
    
  }
  
  .btn-success:hover {
    background-color: #247966;
    color: #e8e8e8;
    
    transition: all 0.3s ease-in-out;
  }


  .modal-content {
    background-color: transparent;
    border: none;
    box-shadow: none;
  }
  
  .modal-backdrop {
    opacity: 0.5; /* change this value to adjust the opacity */
    background-color: #000000; /* change this value to adjust the color */
  }



.maininput{
    background-color: rgba(255, 255, 255, 0.212)!important;
    border: none;
    color: white !important;
    padding: 5px 20px;
    border-radius: 30px;
    height: 50px;
    font-size: large;
    
    
}


.maininput::placeholder{
  color: rgba(255, 255, 255, 0.486);
}


.defactumbg{
  background-color: #37af95!important;
}