{% extends 'nbase.html' %}
{% load static poll_extras i18n  %}
{% get_current_language_bidi as LANGUAGE_BIDI %}
{% get_current_language as LANGUAGE_CODE %}



{% block content %}


<div class="mx-auto py-5" style="max-width: 1000px; min-height: 700px;">
    <h1 class="text-center py-4"> {{ course.name }} </h1>

<p> {{course.description|replacer|safe}} </p>

{%  if course.video %}
    <div class="my-2">
        {{course.video|safe}}
    </div>
{% endif %}
<!-- data-bs-toggle="modal" data-bs-target="#exampleModal" -->
<div class="text-center my-3">
    <a type="button" class="btn btn-success " data-bs-toggle="modal" data-bs-target="#exampleModal">Register Me</a>
</div>

<h4 class="py-3"> {% translate "Choose the time you want to take the course" %}  </h4>


<div class="list-group col-lg-8 mx-auto">
    {% for time in times %}
    <a href="/register/{{time.id}}" style="text-decoration: none;"><button type="button" class="list-group-item list-group-item-action">{{time.time}} {{time.teacher}} <br> <small>{{time.course.location}}</small></button></a>
    {% endfor %}
    
</div>
</div>


{% endblock content %}