{% load static i18n %}
{% load static poll_extras i18n  %}
{% get_current_language_bidi as LANGUAGE_BIDI %}
{% get_current_language as LANGUAGE_CODE %}



<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>de factum Education</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KK94CHFLLe+nY2dmCWGMq91rCGa5gtU4mk92HdvYe+M/SXH301p5ILy+dN9+nJOZ" crossorigin="anonymous">
    <link href="{% static 'css/nstyle.css' %}" rel="stylesheet" />
    <script src="https://kit.fontawesome.com/bb977832e4.js" crossorigin="anonymous"></script>
</head>
  <body>
    
      <!--navbar  -->
      <nav class="navbar fixed-top navbar-custom navbar-dark">
        <div class="container-fluid container">
          <a class="navbar-brand" href="/">
            <div class="text-white fs-3">
              <img class="mx-1" src="{% static 'img/logo.png' %}" width="30px"> 
              de factum Education
            </div> 
          </a>
          <div class="d-flex align-items-center">
            <span class="text-white mx-3 d-none d-md-block fs-5">
                <a href="" class="text-light"><i class="fa-brands fa-facebook"></i></a>
                <a href="" class="text-light"><i class="fa-brands fa-telegram mx-1"></i></a>
                
                <i class="fa fa-mobile mx-1"></i>
                998 99 123 45 78
                 
                </span>
            <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasNavbar" aria-controls="offcanvasNavbar" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
          </div>
        </div>
      </nav>


<!-- offcanvas -->
      <div class="offcanvas offcanvas-end navbar-custom text-white" tabindex="-1" id="offcanvasNavbar" aria-labelledby="offcanvasNavbarLabel">
        <div class="offcanvas-header">
          <!-- <h5 class="offcanvas-title" id="offcanvasNavbarLabel">de factum Education</h5> -->
          <div class="text-white fs-3"><img class="mx-1" src="{% static 'img/logo.png' %}" width="30px"> </div> 
          <button type="button" class="btn btn-outline-light" data-bs-dismiss="offcanvas" aria-label="Close">Close</button>
        </div>
        <div class="offcanvas-body">
          <div class="container">
              <div class="row">
                <div class="col-12 my-3">
                    <form action="{% url 'set_language' %}" method="post" class=""
                >{% csrf_token %}
                    <input name="next" type="hidden" value="{{ request.get_full_path|slice:'3:' }}">
                    <select name="language" class="btn btn-sm text-light w-100 my-2" onchange="this.form.submit()">
                        {% get_available_languages as LANGUAGES %}
                        {% get_language_info_list for LANGUAGES as languages %}
                        {% for language in languages %}
                            <option value="{{ language.code }}" {% if language.code == LANGUAGE_CODE %} selected {% endif %}>
                                {{ language.name_local}} ({{ language.code }})
                            </option>
                        {% endfor %}
                    </select>
                </form>
                </div>
                  <div class="col-12 border rounded p-2 my-1">
                    <a class="nav-link" href="/#about"> {% translate "About"%}</a>
                  </div>
                  <div class="col-12 border rounded p-2 my-1">
                    <a class="nav-link" href="/allcourses">{% translate "Courses"%}</a>
                  </div>
                  <div class="col-12 border rounded p-2 my-1">
                    <a class="nav-link" href="/teachers">{% translate "Our Team"%}</a>
                  </div>
                  <div class="col-12 border rounded p-2 my-1">
                    <a class="nav-link" href="/#contact">{% translate "Contact"%}</a>
                  </div>
                  <div class="col-12 border rounded p-2 my-1">
                    <a class="nav-link" href="/#faq">{% translate "FAQ"%}</a>
                  </div>
                  
                


                <div class="col-12 mt-5">
                    <h2>Conntect with us</h2>
                    {% include 'contact.html' %}
                </div>

                <div class="col-12 mt-5">
                    <p class="text-center">All rights recieved 2023 de factum</p>
                </div>
              </div>
          </div>
          
        </div>
      </div>






<div class="bg-dark">
    {% block content %}

    {% endblock content %}
</div>






<!-- contact form -->
<div class="container mt-5">
    <div class="row">
    <div class="col-lg-6 p-3 mx-auto">
        <div class="rounded-4 border p-3 ">
            <h2 class="section-heading text-center">{% translate "Contact Us" %}</h2>
            {% include 'contact.html' %}
        </div>
    </div>
</div>
</div>


<!-- modal contact-->
<div class="modal fade navbar-custom text-light" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
            <h2 class="section-heading text-center">{% translate "Contact Us" %}</h2>
          <button type="button" class="btn btn-outline-light" data-bs-dismiss="modal" aria-label="Close">Close</button>
        </div>
        <div class="modal-body">
          {% include 'contact.html' %}
        </div>
        
      </div>
    </div>
  </div>


<!-- footer -->
<footer class="py-5">
    
    <div class="container">
      <div class="row">
        <section id="contact" class="my-1">
            <hr>
            <div class="container my-1">
              <div class="row">
                
                <div class="col-md-6 p-3">
                    <div class=" rounded-4 border p-3 text-center">
        
                  <h2 class="section-heading">{% translate "Connect with Us" %}</h2>
                  <p class="section-subheading">{% translate "Follow us on social media and stay updated." %}</p>
                  <ul class="list-inline social-buttons">
                    <li class="list-inline-item">
                      <a href="#">
                        <i class="fab fa-twitter"></i>
                      </a>
                    </li>
                    <li class="list-inline-item">
                      <a href="#">
                        <i class="fab fa-facebook-f"></i>
                      </a>
                    </li>
                    <li class="list-inline-item">
                      <a href="#">
                        <i class="fab fa-linkedin-in"></i>
                      </a>
                    </li>
                  </ul>
                  <p class="section-subheading">{% translate "We regularly share tips, resources, and news related to BLS on our social media channels and in our newsletter. Don't miss out on important updates, training opportunities, and special offers by staying connected with us." %}
                    </p>
                  <ul class="list-unstyled">
                    <li><i class="fas fa-envelope"></i> email@example.com</li>
                    <li><i class="fas fa-phone"></i> (123) 456-7890</li>
                  </ul>
                </div>
                </div>
                <div class="col-md-6 p-3">
                    <iframe src="https://yandex.ru/map-widget/v1/?um=constructor%3A74f6cc775b65afd49c9f08c56811381e1e62ef5d0e0dec5b8f4e4735de1273ba&amp;source=constructor" width="100%" height="300" frameborder="0"></iframe>
                </div>
              </div>
            </div>
          </section>

        <div class="col-md-4 p-4 mx-auto">
            <img class="mx-4" src="{% static 'img/1212.jpg' %}" alt="" style="max-width: 230px;">
        </div>
        <div class="col-md-4">
            <img class="mx-5" src="{% static 'img/1313.png' %}" alt="" style="max-width: 250px;">
        </div>
        <div class="col-md-4 mt-5">
            <p >{% translate "Our experienced instructors are experts in BLS techniques and follow the latest guidelines from the American Heart Association (AHA) and other leading organizations. We offer a range of courses, from basic CPR to advanced cardiac life support (ACLS), that are tailored to meet the needs of healthcare providers, first responders, and concerned citizens alike." %}</p>
        </div>
        



        




                


        
        
      </div>
    </div>
  </footer>
  











    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.7/dist/umd/popper.min.js" integrity="sha384-zYPOMqeu1DAVkHiLqWBUTcbYfZ8osu1Nd6Z89ify25QV9guujx43ITvfi12/QExE" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/js/bootstrap.min.js" integrity="sha384-Y4oOpwW3duJdCWv5ly8SCFYWqFDsfob/3GkgExXKV4idmbt98QcxXYs9UoXAB7BZ" crossorigin="anonymous"></script>
    <!-- <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ENjdO4Dr2bkBIFxQpeoTz1HIcje39Wm4jDKdf19U8gI4ddQ3GYNS7NTKfAdVQSZe" crossorigin="anonymous"></script> -->
  </body>
</html>






